@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white:#ffffff;
  --primary-light-grey:#E6E6FA;
  --primary-grey:#ccd1d9;
  --primary-dark-grey:#666666;
  --primary-orange:#f9ab00;
  --primary-dark:rgba(52,58,64);
  --primary-red:#ef4035;
  --primary-hover-red:#f33501;
}

body{
  font-family: "Roboto Condensed", sans-serif !important;
}

/****************************************************** NAVBAR *************************************************/

.logo{
  width: 6.25rem;
}

/******************************************* MENU LINKS ******************************************************/

nav{
  z-index: 2;
}

nav a.nav-link{
  letter-spacing: 0.035rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav >li > a {
  margin-right: 0.75rem;
  margin-left: 00.75rem;
  color:var(--primary-white) !important;
  border-top: 00.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

@media(max-width: 768px){
  .navbar-brand{
    width: rem;
  }
}

.navbar-nav >li >a.active, .navbar-nav >li >a.active:focus{
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li >a:hover{
  border-top: 0.1875rem solid var(--primary-orange); 
}

/**************************************HEADER *******************************************/

.header-wrapper{
  position: relative;
  background: url(cover.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1{
  color: var(--primary-orange);
  text-transform: uppercase;
}

/*********************************TYPED TEXT ************************************************/

.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width:768px){
  .main-info h1{
    font-size: 1.7rem !important;
  }
  .typed-text{
    font-size: 1.3rem !important;
  }
}


/******************************HEADER BUTTON ***********************************************/

.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

@media(max-width:768px) {
  .particles-canvas {
    display : none;
  }
}

/******************************ABOUT ME ***********************************************/
.photo-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img{
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-orange);
}

.about-heading{
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media(max-width : 468px){
  .profile-img{
    width: 10rem;
  }
}

/******************************************* SERVICES ******************************************************/

.services{
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
}

.services{
  color: var(--primary-dark);
}

.services h1{
  color: var(--primary-dark);
  text-transform: uppercase;
}

.services .circle {
  position: relative;
  margin: .375rem auto;
  background: var(--primary-orange);
  border-radius: 50%;
  width : 3.125rem;
  height: 3.125rem;
}

.services .icon{
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.services .box{
  height: 16rem;
  border-bottom: .312rem solid var(--primary-orange);
  padding: .625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
}

.services .box:hover{
  background: var(--primary-orange);
  border-bottom: .312rem solid var(--primary-dark);
}

.services .box:hover .icon{
  color: var(--primary-dark);

}

.services .box:hover .circle{
  background: var(--primary-white); 
}

.services .box:hover p{
  color: var(--primary-white); 
}

/******************************************* EXPERIENCE ******************************************************/
.experience{
  padding: 0.7rem;
}
.experience-wrapper{
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1{
  text-transform: uppercase;
  color: var(--primary-orange);
}

.experience-wrapper::before{
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0800rem;
  width: 0.25rem;
  height: 100%;
  background: var(--primary-grey);
  z-index: 1;
}

.timeline-block{
  width: calc(50% + 0.1rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right{
  float: right;
}

.timeline-block-left{
  float: left;
  direction: rtl;
}

.marker{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index:1;
}

.timeline-content{
  width: 95%;
  padding : 0 0.9375rem;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.timeline-content h3{
  margin-top: 0.3125rem;
  color: var(--primary-red);
  font-weight: 900;
}

/******************************************* MEDIA ******************************************************/

@media(max-width:760px){
  .experience .container{
    padding-left: 0;

  }
  .experience-wrapper::before{
  left:0.5rem;
  margin-bottom: 1.875rem;
  }
  .timeline-block-right{
    float: none;
    width: 100%;
  }
  .timeline-block-left{
    float: none;
    direction: ltr;
    width: 100%;
  }
}

/******************************************* CONTACTS ******************************************************/

.contacts{
  background: var(--primary-dark);
  padding : 3rem 0;
}

.contacts h1{
  color: var(--primary-orange);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contacts p{
  color: var(--primary-light-grey);
  font-size: 1.2rem;
}

.contacts input, .contacts textarea{
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
  border-radius: 0;
  color: var(--primary-orange);
  outline: 0 !important;
  box-shadow: none !important;
  top: 0;
  margin-bottom: 1rem;
  padding-left: 0 !important;

}

.contacts .container{
  padding: 4rem 0;
}

.contacts input:focus, .contacts textarea:focus{
  background: transparent;
  color: var(--primary-orange);
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea{
  height: 12.4rem !important;
}

.contact-btn{
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line{
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-orange);
  display: inline-block;
}

input:focus+.line , textarea:focus+.line{
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control{
  margin: -0.3rem 0;
}

textarea.form-control{
  margin: -0.3rem 0;
}


/******************************************* MEDIA ******************************************************/

@media(max-width:768px){

  .contacts{
    overflow-x: hidden;
  }
  .contacts .container{
    padding: 0 1rem;
  }

  .contacts p{
    padding: 0 0 0.4rem;
  }
}
